@model Manager.Models.Story

@{
    ViewBag.Title = "Story";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("View Players", nameof(Manager.Controllers.PlayerController.Index), nameof(Manager.Controllers.PlayerController).Replace("Controller", ""), new { id = Model.ID, username = ViewBag.Username }, null) |
    @if (ViewBag.IsOwner == true)
    {
        <text>
            @Html.ActionLink("Skills", nameof(Manager.Controllers.SkillsController.Index), nameof(Manager.Controllers.SkillsController).Replace("Controller", ""), new { story = Model.ID }, null) |
            @Html.ActionLink("Edit", nameof(Manager.Controllers.StoryController.Edit), new { id = Model.ID }) |
            @Html.ActionLink("Back to List", nameof(Manager.Controllers.AccountController.AccountProfile).Replace("Account", ""), nameof(Manager.Controllers.AccountController).Replace("Controller", ""))
        </text>
    }
    else
    {
        @Html.ActionLink("Back to Home", nameof(Manager.Controllers.HomeController.Index), nameof(Manager.Controllers.HomeController).Replace("Controller", ""))
    }
</p>