@model IEnumerable<Manager.Models.Story>

@Html.ActionLink("Create New Story", "Create")
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", nameof(Manager.Controllers.StoryController.Edit), new { id = item.ID }) |
                @Html.ActionLink("Details", nameof(Manager.Controllers.StoryController.Details), new { id = item.ID, username = ViewBag.Username }) |
                @Html.ActionLink("Delete", nameof(Manager.Controllers.StoryController.Delete), new { id = item.ID })
            </td>
        </tr>
    }
</table>