@model Manager.Models.Stats

<div style="overflow: hidden; vertical-align:bottom;">
    <div style="width: 95%; float: left;">
        @Html.HiddenFor(model => model.ID, new { id = "StatsID" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EXP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EXP)@if (ViewBag.IsOwner)
                {<span id="AddXP" class="fa-stack fa-lg" style="margin:-17px 0 0 0px;height: 20px;cursor:pointer;"><i class="fa fa-square-o fa-stack-1x" aria-hidden="true"></i><i class="fa fa-plus fa-stack-1x" aria-hidden="true"></i></span>}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
        <div style="column-count: 3; margin: 14px auto 20px auto">

            @Html.Partial("CalcDetails", Model.CalculatedPartialModel)

            <dl class="dl-horizontal" style="margin: 0 0 0 0">

                <dt>
                    @Html.DisplayNameFor(model => model.Strength)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Strength)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Vitality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vitality)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Constitution)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Constitution)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dexterity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dexterity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Accuracy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Accuracy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inteligence)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inteligence)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Wisdom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Wisdom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Charisma)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Charisma)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Luck)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Luck)
                </dd>
            </dl>
        </div>
    </div>
    @if (ViewBag.IsOwner)
    {
        <div id="edit-stats" class="btn" style="float:right; cursor:pointer; margin-top: 21.5%;">
            <i class="fa fa-pencil-square-o" style="font-size:1.6em;" aria-hidden="true"></i>
        </div>
    }
</div>