@model Manager.Models.Stats

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vitality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vitality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accuracy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inteligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inteligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wisdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charisma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luck)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>