@model Manager.Models.User

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Update", nameof(Manager.Controllers.AccountController.UpdateProfile)) |
    @Html.ActionLink("Change Password", nameof(Manager.Controllers.AccountController.ChangePassword)) | @{
        Html.RenderAction(nameof(Manager.Controllers.StoryController.MyIndex), nameof(Manager.Controllers.StoryController).Replace("Controller", ""), new { username = Model.Username });
    }
</p>