@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Gamer Player Manager</h1>
    <p class="lead">In order to avoid the clutter and chasing after papers and spreadsheets while managing an rpg / the gamer based character, the GPM was born! If you are a content creator and are looking for some means to manage your characters, join on up and set your stories exactly how like! This site features automatic (advanced) formula calculation, and chapter based character management. Readers, just choose the story you want to learn about and read away.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Random Stories</h2>
        @foreach (Manager.Models.Story s in ViewBag.Stories)
        {
            <p><i class="fa fa-file-text-o" aria-hidden="true"></i> <a href="@(Url.Action(nameof(Manager.Controllers.StoryController.Details), nameof(Manager.Controllers.StoryController).Replace("Controller", ""), new { id = s.ID, username = s.User.Username }))">@(s.Name)</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2>Random Players</h2>
        @foreach (Manager.Models.Player p in ViewBag.Players)
        {
            <p><i class="fa fa-user" aria-hidden="true"></i> <a href="@(Url.Action(nameof(Manager.Controllers.PlayerController.Details), nameof(Manager.Controllers.PlayerController).Replace("Controller", ""), new { id = p.ID, username = p.Story.User.Username, story = p.Story.ID }))">@(p.Name) @(p.Surname) </a><i class="fa fa-file-text-o" aria-hidden="true"></i> <a href="@(Url.Action(nameof(Manager.Controllers.StoryController.Details), nameof(Manager.Controllers.StoryController).Replace("Controller", ""), new { id = p.Story.ID, username = p.Story.User.Username }))">@(p.Story.Name)</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p><i class="fa fa-info-circle text-info" aria-hidden="true"></i> Search coming soon.</p>
    </div>
</div>