@model Manager.Models.Skill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDescriptionFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDescriptionFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassiveDescriptionFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassiveDescriptionFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveCostFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveCostFormula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassiveFormula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassiveFormula)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Story)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", nameof(Manager.Controllers.SkillsController.Index), new { story = Model.Story })
        </div>
    }
</div>