@model IEnumerable<Manager.Models.Skill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { story = ViewBag.Story })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", nameof(Manager.Controllers.SkillsController.Edit), new { id = item.ID }) |
                @Html.ActionLink("Details", nameof(Manager.Controllers.SkillsController.Details), new { id = item.ID, story = ViewBag.Story }) |
                @Html.ActionLink("Delete", nameof(Manager.Controllers.SkillsController.Delete), new { id = item.ID })
            </td>
        </tr>
    }
</table>