@model Manager.Models.Player

@{
    ViewBag.Title = "Details";
}

@section js{
    <script>
        var IsOwner = @(ViewBag.IsOwner.ToString().ToLower());
    </script>
    <script src="~/Scripts/ChapterSpinner.js"></script>
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <input type="hidden" id="PlayerID" value="@(Model.ID)" />
    <input type="hidden" id="Username" value="@(ViewBag.Username)" />
    <input type="hidden" id="Story" value="@(ViewBag.Story)" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Story)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Story.Name)
        </dd>
    </dl>
</div>
<p>
    @if (ViewBag.IsOwner)
    {
        @Html.ActionLink("Edit", nameof(Manager.Controllers.PlayerController.Edit), new { id = Model.ID, username = ViewBag.Username }) <span> |</span>
    }
    @Html.ActionLink("Back to List", nameof(Manager.Controllers.PlayerController.Index), new { id = ViewBag.Story, username = ViewBag.Username })
</p>

<hr />

@Html.Action(nameof(Manager.Controllers.ChapterController.Index), nameof(Manager.Controllers.ChapterController).Replace("Controller", ""), new { id = Model.ID, username = ViewBag.Username, chapter = ViewBag.Chapter })

<br />

<output style="display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-flow: column; flex-flow: column;"></output>