@model IEnumerable<Manager.Models.Player>

@{
    ViewBag.Title = (Model.Count() > 0) ? Model.FirstOrDefault().Story.Name + " Player List" : "Player List";
}

<h2>Index</h2>

@if (ViewBag.IsOwner)
{
    <p>
        @Html.ActionLink("Create New", nameof(Manager.Controllers.PlayerController.Create), new { id = ViewBag.Username, story = ViewBag.Story })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Story)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Story.Name)
            </td>
            <td>
                @if (ViewBag.IsOwner)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID, username = ViewBag.Username, story = ViewBag.Story }) <span> |</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID, username = ViewBag.Username, story = ViewBag.Story })
                @if (ViewBag.IsOwner)
                {
                    <span> |</span> @Html.ActionLink("Delete", "Delete", new { id = item.ID, username = ViewBag.Username, story = ViewBag.Story })
                }
            </td>
        </tr>
    }
</table>
@if (ViewBag.IsOwner)
{
    <p>
        @Html.ActionLink("Back to Story", nameof(Manager.Controllers.StoryController.Details), nameof(Manager.Controllers.StoryController).Replace("Controller", ""), new { id = ViewBag.Story, username = ViewBag.Username }, null)
    </p>
}